.error-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px !important;
    background: white;
    border-radius: 10px;
    box-shadow: 5px 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.error-header {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    color: #2691d9;
}

.error-image {
    align-items: center;
    justify-items: center;
    width: 400px;
    height: 300px;
    padding: 0 17%;
}

.error-container h3 {
    text-align: center;
    padding: 0 50px;
    color: #8c8a8a;
}

#back-home-button {
    width: 50%;
    height: 40px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 3%;
    border-radius: 10px;
    background: #2196f3;
    color: #e9f4fb;
}